body{
    background-color:  rgb(175, 238, 238);
}

header{
    
    text-align: center;
    color: rgb(0, 157, 255);
    font-size: 190%;
    font-weight:bolder;
    font-family:Georgia, 'Times New Roman', Times, serif;
        
}
main{
    
    color: rgb(0, 0, 0);
    font-size: 140%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

footer{
    padding-top: 5%;
    color: rgb(0, 30, 255);

}
